/* 覆盖mint-ui的primary颜色，改为自己UI的主题色 */
$color-primary: #11A983;

.mint-header {
  background-color: $color-primary;
}

.mint-button:not(.is-disabled):active::after {
  opacity: .2 /* .6 */
}

.mint-button--primary {
  background-color: $color-primary;
}

.mint-button--primary.is-plain {
  border: 1px solid $color-primary;
  color: $color-primary
}

.mint-badge.is-primary {
  background-color: $color-primary
}

.mint-switch-input:checked + .mint-switch-core {
  border-color: $color-primary;
  background-color: $color-primary;
}

.mint-navbar .mint-tab-item.is-selected {
  border-bottom: 3px solid $color-primary;
  color: $color-primary;
}

.mint-tabbar > .mint-tab-item.is-selected {
  color: $color-primary;
}

.mint-searchbar-cancel {
  color: $color-primary;
}

.mint-checkbox-input:checked + .mint-checkbox-core {
  background-color: $color-primary;
  border-color: $color-primary;
}

.mint-radio-input:checked + .mint-radio-core {
  background-color: $color-primary;
  border-color: $color-primary;
}

.mt-range-progress {
  background-color: $color-primary;
}

.mt-progress-progress {
  background-color: $color-primary;
}

.mint-msgbox-confirm {
  color: $color-primary;
}

.mint-msgbox-confirm:active {
  color: $color-primary;
}

.mint-datetime-action {
  color: $color-primary;
}
